@import url("http://fonts.googleapis.com/css?family=Open+Sans:600");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/container.css");

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #A38351;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600px;
}

h2 {
  color: #033F63;
}
